<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>this is a iphone<%= a %></h1>
<ul>
    <% for(var i = 0; i<news.length; i++){ %>
    <li><%= news[i].title%>  —— <%= news[i].time%></li>
    <%}%>
</ul>
</body>
</html>